{
	"type": "home",
	"blocks": [
		{
			"type": "image",
			"image_url": "{{ .AppURL }}/static/img/logo.png",
			"alt_text": "chat-roulette logo"
		},
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": "Chat Roulette for Slack",
				"emoji": true
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Chat Roulette helps you stay connected to your Slack community by introducing you to other members on a regular cadence."
			}
		},
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": ":question: How It Works",
				"emoji": true
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Chat Roulette can be enabled on a Slack channel by inviting <@{{ .BotUserID }}> to it!"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "The Chat Roulette bot will then pair up members of the Slack channel every round giving participants ample time to connect. Based on the channel's _Connection Mode_ setting, the bot will suggest connecting in person for :coffee: or virtually over :video_camera: using Zoom, Google Meet, or Microsoft Teams."
			}
		}
{{- if .Channels }},
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": ":door: Chat Roulette Channels You Can Join",
				"emoji": true
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "context",
			"elements": [
				{
					"type": "mrkdwn",
					"text": "_Join any of the following channels to start connecting with members of your community_"
				}
			]
		},
{{- range .Channels }}
	{{- $connectionMode := .ConnectionMode.String | capitalize }}
	{{- if eq $connectionMode "Physical" }}
		{{ $connectionMode = "In Person" }}
	{{- end }}
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "<#{{ .ChannelID }}>"
			},
			"fields": [
				{
					"type": "mrkdwn",
					"text": ":hammer_and_wrench: Admin: <@{{ .Inviter }}>"
				},
				{
					"type": "mrkdwn",
					"text": ":clock1: Interval: *{{ .Interval.String | capitalize }}*"
				},
				{
					"type": "mrkdwn",
					"text": ":busts_in_silhouette: Connection Mode: *{{ $connectionMode }}*"
				},
				{
					"type": "mrkdwn",
					"text": ":calendar: Next Round: *{{ .NextRound | prettyDate }}*"
				}
			]
		}
{{- end }}
{{- end }}
{{- if .IsAppUser }},
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": ":wrench: Customize Your Chat Roulette Experience",
				"emoji": true
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "_To prevent or allow being matched with a specific participant, click on the following buttons:_"
			}
		},
		{
			"type": "actions",
			"elements": [
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": ":x: Prevent matching with ...",
						"emoji": true
					},
					"value": "-",
					"action_id": "BLOCK_MEMBER|start"
				},
				{
					"type": "button",
					"text": {
						"type": "plain_text",
						"text": ":white_check_mark: Allow matching with ...",
						"emoji": true
					},
					"value": "-",
					"style": "primary",
					"action_id": "UNBLOCK_MEMBER|start"
				}
			]
		},
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": ":globe_with_meridians: Visit Your Chat Roulette Dashboard",
				"emoji": true
			}
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "_To view your personal Chat Roulette dashboard and manage your settings, click on the following button:_"
			},
			"accessory": {
				"type": "button",
				"text": {
					"type": "plain_text",
					"text": ":bar_chart: Dashboard",
					"emoji": true
				},
				"value": "dashboard",
				"url": "{{ .AppURL }}",
				"action_id": "link"
			}
		}
{{- end }}
	]
}