{
    "blocks": [
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": ":wave: Hi <@{{ .Participant }}> <@{{ .Partner }}>",
                "verbatim": false
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "Time for a check-in!",
                "verbatim": false
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                {{ if .HasMet -}}
                "text": ":white_check_mark: <@{{ .Responder }}> said that you met! That's awesome :tada:",
                {{ else -}}
                "text": ":x: <@{{ .Responder }}> said that you did not meet. I'm really sorry to hear that :sob:",
                {{ end -}}
                "verbatim": false
            }
        }
    ]
}