{
    "blocks": [
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": ":wave: Hello <@{{ .UserID }}>"
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "Welcome to the <#{{ .ChannelID }}> channel!"
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "Chat Roulette has been enabled on this channel. {{ .When }}, you will be introduced to another member in the <#{{ .ChannelID }}> channel. You will have until the end of each round to meet {{ if eq .ConnectionMode "virtual" }}virtually over a video call using Zoom, Google Meet, or Microsoft Teams{{ else if eq .ConnectionMode "physical" }}in person at a location of your choosing, whether it's for coffee or a meal{{ else if eq .ConnectionMode "hybrid" }}in person or virtually over a video call using Zoom, Google Meet, or Microsoft Teams{{ end }}!",
                "verbatim": false
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "The next Chat Roulette round begins on *{{ .NextRound | prettyDate }}*!"
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "Chat Roulette has been enabled on this channel by <@{{ .Invitor }}>, so if you have any questions, please reach out to them."
            }
        },
        {
            "type": "divider"
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "*To participate in Chat Roulette, click the following button to complete onboarding:*"
            },
            "accessory": {
                "type": "button",
                "text": {
                    "type": "plain_text",
                    "text": "Opt In",
                    "emoji": true
                },
                "value": "{{ .ChannelID }}",
                "action_id": "GREET_MEMBER|confirm"
            }
        }
    ]
}