{
    "blocks": [
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "Hi <@{{ .UserID }}> :wave:"
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "Thank you for inviting me to the <#{{ .ChannelID }}> channel :tada:"
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "I'm here to help your Slack community stay connected by introducing members of <#{{ .ChannelID }}> to each other on a regular cadence :smile:",
                "verbatim": false
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "Before we can begin our first round of Chat Roulette, we'll need to complete setup!",
                "verbatim": false
            }
        },
        {
            "type": "divider"
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "*Click on the following button to enable Chat Roulette for this channel:*"
            },
            "accessory": {
                "type": "button",
                "text": {
                    "type": "plain_text",
                    "text": ":rocket: Let's Go!",
                    "emoji": true
                },
                "value": "{{ .ChannelID }}",
                "action_id": "GREET_ADMIN|confirm"
            }
        }
    ]
}