{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Hey <@{{ .Partner }}> <@{{ .Participant }}> :wave:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "It seems both of you are shy :blush:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "<@{{ .Volunteer }}> you have been randomly selected to kick us off :smile:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Why don't you take the lead and introduce your self :speech_balloon:"
			}
		}
	]
}