{
	"blocks": [
		{{- if .NoMessagesExchanged }}
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "It seems like both of you are shy :blush:"
			}
		},
		{{- end }}
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "How about starting with an icebreaker? :speech_balloon:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "<@{{ .Volunteer }}> you've been randomly selected to answer first :sweat_smile:"
			}
		}
	],
	"attachments": [
		{
			"color": "#36C5F0",
			"blocks": [
				{
					"type": "section",
					"text": {
						"type": "mrkdwn",
						"text": "_{{ .Icebreaker }}_"
					}
				}
			]
		}
	]
}