{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Hello <@{{ .UserID }}> :wave:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Thank you for participating in Chat Roulette in <#{{ .ChannelID }}> :blush:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "It looks like you haven't been active recently. I understand that life can get busy sometimes. To improve the Chat Roulette experience for everyone, you have been marked as inactive :cry:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "The next Chat Roulette round will kickoff on *{{ .NextRound | prettyDate }}* :rocket:"
			}
		},
        {
            "type": "divider"
        },
		{
			"type": "context",
			"elements": [
				{
					"type": "mrkdwn",
					"text": ":pushpin: _If you wish to join future rounds, visit your <{{ .AppHome }}|Personal Dashboard> to mark yourself as active once again!_"
				}
			]
		}
	]
}