{
	"type": "modal",
	"callback_id": "{{ if .IsAdmin }}onboarding-admin-modal{{ else }}onboarding-member-modal{{ end }}",
	"private_metadata": "{{ .PrivateMetadata }}",
	"clear_on_close": true,
	"notify_on_close": false,
	"title": {
		"type": "plain_text",
		"text": "Chat Roulette for Slack",
		"emoji": true
	},
	"close": {
		"type": "plain_text",
		"text": "Cancel",
		"emoji": true
	},
	"submit": {
		"type": "plain_text",
		"text": "Next",
		"emoji": true
	},
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Hi *<@{{ .UserID }}>* :wave:"
			}
		},
		{{- if .IsAdmin }}		
		{
			"type": "section",
			"text": {
				"type": "plain_text",
				"text": "Thanks for your interest in using Chat Roulette for Slack. Let's configure some settings before starting our first round!",
				"emoji": true
			}
		}
		{{- else }}		
		{
			"type": "section",
			"text": {
				"type": "plain_text",
				"text": "Thanks for your interest in participating in Chat Roulette. Let's collect some information to share with your future matches!",
				"emoji": true
			}
		}
		{{- end }}
	]
}