{{- $participants := mul .Pairs 2 }}
{{- $groupsKeyword := "groups" }}
{{- if eq .Met 1.0 }}
    {{- $groupsKeyword = "group" }}
{{- end -}}
{
	"blocks": [
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Hi all :wave:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "The current round of Chat Roulette has now come to an end :smile:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "The next round will begin soon. But before that, let's review how we did!"
			}
		},
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": ":bar_chart: Round Stats",
				"emoji": true
			}
		},
		{
			"type": "divider"
		},
	{{- if eq .Pairs 0.0 }}
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "No intros were made in the last round :sob:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "To ensure intros can be made in the next round, you must opt-in to Chat Roulette."
			}
		}
	{{- else }}
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "This round had *{{ $participants }}* participants :tada:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*{{ .Met }}* {{ $groupsKeyword }} met :partying_face:"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "That's *{{ .Percent | prettyPercent }}* of the *{{ .Pairs }}* intros made :confetti_ball:"
			}
		},
		{{- if eq .Percent 100.0 }}
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Congratulations to everyone for achieving *100%* :tada:"
			}
		}
		{{- else }}
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "Can you get to *100%* next round?"
			}
		}
		{{- end }}
	{{- end }}
	]
}