<!DOCTYPE html>
<html>
  <head>
    <title>403 Error</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com/"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="flex flex-col justify-center items-center h-screen">
      <a href="/">
        <img class="w-48" src="../static/img/logo.png" />
      </a>

      <p class="mt-5 mb-2 text-5xl font-medium">403</p>
      <p class="mt-2 mb-2 text-2xl font-medium">Forbidden</p>
      <p>
        <i class="fa fa-exclamation-triangle"></i> Error: You cannot perform
          that action!
      </p>
      
    </div>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>
